@import url('../../index.css');

.project-card img{
    height: 250px;
    width: 300px;
    border-radius: 16px;
}

.project-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 320px !important;
    background-color: transparent !important;
}
.project-card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
}