@import "../../index.css";

.skill-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 384px;
    

    padding: 8px;
    align-items: center;

    border-radius: 10px !important;
    border: none!important;

    background-color: transparent !important;
}

.card img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.card p{
    text-align: center;
}

.result-card h3{
    font-size: 24px;
    margin: 0;
    color: var(--color-primary-100);
    
}