@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

/* Variables */
:root {
  --font-base: 'Lato', sans-serif;
  --font-alt: 'Inter', sans-serif;
  ;
  --color-primary-100: #FFF;
  --color-surface-100: #18191a;
  --color-surface-200: #373838;
  --color-surface-300: #4C4D4E;
  --color-surface-400: #636465;
  --color-surface-500: #7B7C7D;
  --color-surface-600: #949595;
  --color-accent-100: rgb(220, 194, 253);
  --color-surface-gradient-100-200: 180deg, #373838 0%, #222324 67.56%;

  --box-shadow: 0px 2px 10px 0px rgba(9, 8, 66, 0.16);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Structural elements */
main {
  background-color: var(--color-surface-100);
}

.row {
  padding-bottom: 2rem !important;
  margin: 0 !important;
}

/* Text */
a {
  color: var(--color-accent-100)!important;
  text-decoration: none !important;
}

h1 {
  color: var(--color-primary-100) !important;

  font-size: 64px !important;
  font-family: var(--font-base) !important;
  font-weight: 700 !important;
  line-height: 72px !important;
}

h2{
  color: var(--color-primary-100) !important;

  font-size: 40px !important;
  font-family: var(--font-base) !important;
  font-weight: 600 !important;
  line-height: 56px !important;
}
h5{
  font-family: var(--font-base) !important;
  font-weight: 600 !important;
  color: var(--color-primary-100) !important;
  margin-bottom: 24 !important;
}

p {
  font-size: 16px;
  font-family: var(--font-alt)!important;
  font-weight: 300 !important;
  margin: 0 !important;
  color: var(--color-primary-100);

}

li ,ul, ol{
  color: var(--color-primary-100) !important;
}

li{
  margin-bottom: 16px;
}


/* Buttons */

.CTA {
  background-color: var(--color-primary-100)!important;
  color: var(--color-surface-100)!important;
  border-radius: 8px!important;
  padding: 16px 24px!important;
  text-decoration: none!important;
  text-transform: capitalize !important;
  text-align: center !important;
  font-weight: 500 !important;
  border: none !important;
}
.CTA-secondary{
  background-color: transparent!important;
  color: var(--color-primary-100)!important;
  border-radius: 8px!important;
  padding: 16px 24px!important;
  text-decoration: none!important;
  text-transform: capitalize !important;
  text-align: center !important;
  font-weight: 500 !important;
  border: none !important;
  display: flex !important;
  gap: 8px !important;
  text-decoration: none !important;
  align-items: center !important;
}

.CTA:focus, .CTA:hover{
  box-shadow: var(--box-shadow)
}

/*Tags*/

.tag{
  display: flex;
  padding: 6px 12px !important;
  align-items: center;
  border-radius: 100px;
  background: var(--color-surface-500) !important;
  color: var(--color-primary-100) !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important; /* 150% */
}

/* Project pages*/
.project-section{
  padding-top: 64px;
  margin-bottom: 0px !important;
  align-items: center;
  justify-content: center;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-background{
  background: linear-gradient( rgba(24,25,26,1) 0%, rgba(76,77,78,1) 48%, rgba(24,25,26,1) 100%);
}

/* quote*/
.quote{
  background-color: var(--color-surface-200);
  border: solid 2px var(--color-surface-400);
  border-radius: 8px;
  padding: 16px;
  line-height: 150%;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .row {
    padding-bottom: 2rem !important;
  }

  h1 {
    color: var(--color-primary-100) !important;

    font-size: 48px !important;
    font-family: var(--font-base) !important;
    font-weight: 700 !important;
    line-height: 56px !important;
  }
  .project-section{
    padding-top: 32px;
    margin-bottom: 0px !important;
    align-items: center;
    justify-content: center;
  }
  .project-img img{
        width: 100vw;
        height: auto;
    }
  .hero-image{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .hero-image{
    padding-top: 16px;
  }
  .left-paragraph{
    padding-top: 16px;
  }

}
/* Overwriting bootstrap focus state*/
input:focus, textarea:focus {
  outline: none !important;
  border: 3px solid var(--color-surface-200) !important;
  
}

